.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  background-color: antiquewhite;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.topbar {
  height: 10vh;
  width: 100vw;
  background-color: grey;
}

.main-container aside {
  /* border-right: 1px solid #eee; */
  padding: 5px;
  font-size: 12px;
  background: #fcfcfc;
}

.main-container aside .description {
  margin-bottom: 10px;
} 

/* .dndnode {
  /* height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center; */
  /* cursor: grab;
}  */

.textBar {
  width: 500px;
  height: 30px;
  /* background-color: aqua; */
}

.reactflow-wrapper {
  flex-grow: 1;
  height: 100vh;
  width: 100vw;
}

/* .app .selectall {
  margin-top: 10px;
} */
/* 
@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
} */

/* .test {
  background-color: black;
  height: 5%;
  width: 100%;
} */

/* .main {
  height: 100%;
  width: 100%;
} */




/* .app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topbar {
  background-color: grey;
  height: 10vh;
  width: 100vw;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90vh;
}

SIDEBAR

.sidebar {
  background-color: rgb(161, 140, 182);
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 20vw;
  transition-duration: 0.5s;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-open {
  width: 20vw;
}

.sidebar-closed {
  width: 2vw;
  overflow: hidden;
}

.sidebar-closed .title {
  display: none;
}

.sidebar-closed .collapse-button {
  width: 100%;
}

.title-collapse {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  border-bottom: 3px solid black;
  position: sticky;
  top: 0;
}

.title {
  height: 100%;
  width: 80%;
  background-color: rgb(161, 140, 182);
}

.collapse-button {
  background-color: blueviolet;
  height: 100%;
  width: 20%;
}

.collapse-button:hover {
  background-color: rgb(158, 98, 214);
}

/* PLAYGROUND */
/* .playground {
  background-color: rgb(151, 102, 102);
  height: 90vh;
  width: 100%;
} */ 

