.inputA {
    top: 25px;
    height: 10px;
    width: 10px;
}

.inputB {
    bottom: 22.5px;
    top: auto;
    height: 10px;
    width: 10px;
}

.output {
    top: 57px;
    height: 10px;
    width: 10px;
}

.inputA:hover {
    background: rgb(75, 123, 255);
}

.inputB:hover {
    background: rgb(75, 123, 255);
}

.output:hover {
    background: rgb(75, 123, 255);
}

.handle--true {
    background: green;
}


