.inputForOutputNode {
    top: 51px;
    left: 20px;
    height: 16px;
    width: 18px;
    border-radius: 0px 0px 6px 6px;
    background-color: #646464;
    overflow: hidden;
    border: 1px solid #222
}

.handle--true {
    background: green;
}

.OutputNode {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

