.inputForOutputNode {
    top: 32px;
    left: -5px;
    height: 10px;
    width: 10px;
}

.handle--true {
    background: green;
}

.value--true{
    background-color: aqua;
}

.OutputNode {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px black solid;
}

