.sidebar {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 350px;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.08);
}

.logo-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo {
  width: 90%;
  user-select: none;
  pointer-events: none;
  margin-bottom: 8px;
  margin-top: 8px;
}

.description {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  padding-left: 5px;
  padding-bottom: 2px;
  font-size: 20px;
  border-bottom: 2px solid rgb(78, 78, 78);
}

.content {
  margin-bottom: 15px;
  border: 2px solid rgb(78, 78, 78);
  border-radius: 10px;
  margin-left: 4px;
  margin-right: 4px;
}

aside.sidebar {
  background-color: #ffffff85;
}

::-webkit-scrollbar {
  width: 7px; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #777777; 
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}
 
.sidebar-closed .sidebar-content {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}

.gate {
  cursor: grab;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.left-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 10px;
  padding: 15px;
  border-radius: 10px;
}

.right-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 10px;
  padding: 15px;
  border-radius: 10px;
}

.inputNode {
  height: 90%;
  width: 90%;
  cursor: grab;
}

.inputNodeSwitch {
  height: 80%;
  width: 85%;
  cursor: grab;
  margin-top: -10px;
}

.outputNode {
  height: 97%;
  width: 97%;
  cursor: grab;
}

.image-container {
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
}

.gate-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  z-index: 1;
  pointer-events: none;
  user-select: none;
}

.image-container-not-gate {
  position: relative;
  text-align: center;
  height: 100%;
  width: 50%;
}

.last-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.left-col:hover, .right-col:hover, .last-row:hover{
  background-color: rgba(0, 0, 0, 0.062);
}


